body {
    background-color: #F8E6E8;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: fadeIn 1s ease-in 0.20s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container {
    position: relative;
    width: 600px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.biglogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.bigbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: rgba(199, 194, 194, 0.44);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7px);
    width: 600px;
    height: 800px;
    z-index: 1;
}

.small-logo {
    position: absolute;
    top: 10px;
}

.small-logo img {
    flex-shrink: 0;
    position: relative;
    top: 20px;
    left: 30px;
}

.small-logo h1 {
    font-family: "Inter";
    font-weight: 600;
    font-size: 28px;
    position: relative;
    bottom: 49px;
    left: 110px;
}

.no-account h1 {
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    color: #0075FF;
    position: relative;
    top: 23px;
    left: 450px;
}

.big-signup h1 {
    font-family: "Inter";
    font-weight: 800;
    font-size: 80px;
    position: relative;
    left: 35px;
    bottom: 28px;
}

.sign-buttons-position {
    display: block;
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}


.signin-guest button {
    font-family: "Inter";
    display: flex;
    cursor: pointer;
    width: 525px;
    height: 68px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    border-radius: 18px;
    background: #FFF;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
    border: none;
    color: #000;
    font-size: 23px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.25px;
    margin-bottom: 20px;
}

.signin-google button {
    font-family: "Inter";
    display: flex;
    width: 525px;
    cursor: pointer;
    height: 68px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    border-radius: 18px;
    background: #FFF;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
    border: none;
    color: #000;
    font-size: 23px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.25px;
}

.or-position {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.or {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.or-left {
    height: 1px;
    width: 230px;
    background-color: #6A6060;
}

.or-right {
    height: 1px;
    width: 230px;
    background-color: #6A6060;
}

.or h1 {
    font-family: "Inter";
    font-size: 13px;
    color: #6A6060;
}

.email-text {
    position: relative;
    top: 157px;
    left: 50px;
    color: #6A6060;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
}

.email-input {
    width: 525px;
    height: 68px;
    padding-left: 10px;
    border-radius: 18px;
    font-size: 1em;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    outline: none;
}

.email-input::placeholder{
    font-family: "Inter";
    font-size: 15px;
    color: #6A6060;
    position: relative;
    left: 20px;
}


.email-position {
    display: block;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.password-text {
    position: relative;
    top: 260px;
    left: 50px;
    color: #6A6060;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
}

.password-input {
    width: 525px;
    height: 68px;
    padding-left: 10px;
    border-radius: 18px;
    font-size: 1em;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    outline: none;
    margin-top: 60px;
}

.password-input::placeholder{
    font-family: "Inter";
    font-size: 15px;
    color: #6A6060;
    position: relative;
    left: 20px;
}

.forgot-password {
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    color: #0075FF;
    position: relative;
    top: 237px;
    left: 390px;
}

.signin-button button{
    position: relative;
    top: 350px;
    left: 32px;
    display: flex;
    width: 294px;
    height: 78px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #000;
    color: #FFF;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1px;
    box-shadow: 8px 4px 13px 0px rgba(0, 0, 0, 0.25);
    border: none;
}